<style>
    .loader {
        position: relative;
      }
      
      .loader span {
        position: absolute;
        color: #fff;
        transform: translate(-50%, -50%);
        font-size: 408px;
        letter-spacing: 5px;
      }
      
      .loader span:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 0.4px rgb(41, 128, 198);
      }
      
      .loader span:nth-child(2) {
        color: rgb(128, 198, 255);
        -webkit-text-stroke: 1px rgb(128, 198, 255);
        animation: uiverse-723 2s ease-in-out infinite;
      }
      
      @keyframes uiverse-723 {
        0%, 100% {
          clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
           54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
      
        50% {
          clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
           51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
      }
</style>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="static/img/wp9281209-colour-fish-4k-hd-wallpapers.jpg" height="780px" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <h1 class="text-primary font-weight-medium m-0">ORNAMENTAL  </h1>
                    <div class="loader">
                        <span>Fish</span>
                        <span>Fish</span>
                    </div>
                    
                    <!-- <h1 class="display-2 text-white m-0 ">ORNAMENTAL FISHES</h1> -->
                    
                    <!-- <h2 class="text-white m-0">* SINCE 1950 *</h2> -->
                </div>
                
            </div>
            <div class="carousel-item">
                <img class="w-100" src="static/img/halfmoon-betta-fish.jpg" height="780px" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <!-- <h2 class="text-primary font-weight-medium m-0">Welcome to  </h2> -->
                  <h1 class="text-primary font-weight-medium m-0">ORNAMENTAL  </h1> 
                  <div class="loader">
                    <span>Fish</span>
                    <span>Fish</span>
                </div>
                
                    <!-- <h2 class="text-white m-0">* SINCE 1950 *</h2> -->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h4>
            <!-- <h1 class="display-4"> Since 1950</h1> -->
        </div>
        <div class="row">
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Our Story</h1>
                <h5 class="mb-3">"This ornamental fishes project explores the diverse world of freshwater, marine, and brackish water species, covering their optimal care, aquarium setup, breeding techniques, health management, and the importance of conservation, aiming to educate and inspire responsible ownership within the aquarium hobby."</h5>
                <br>
               <b>  <p> Welcome to the Fish Shop , an immersive venture into the vibrant world of aquariums and aquatic life. </p></b>  

            </div>
            <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="static/img/342-removebg-preview(1).jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-0 py-lg-5">
                <h1 class="mb-3">Our Vision</h1>
                <p>"At Pet Shop, our vision is to be the go-to destination for aquatic enthusiasts, offering a curated selection of high-quality ornamental fishes and top-notch aquarium products. We aspire to create an immersive and educational environment, fostering a community where responsible pet ownership, sustainability, and innovation thrive. Our ultimate goal is to inspire a deep appreciation for aquatic life while actively contributing to the well-being of both our customers and the underwater ecosystems we cherish."</p>
                <!-- <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i> Interactive Exhibits</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>QR Code Guidance</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Digital Connectivity</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Smart Security and Conservation</h5> -->

            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h1 class="display-4">ORNAMENTAL FISHES</h1>
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;"> Services</h4>
    
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-4 mb-sm-0" src="static/img/3736320.jpg                       "  alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Aquarium Setup and Consultation:</h4>
                        <p class="m-0">Assisting customers in setting up their aquariums, including guidance on tank selection, filtration systems, lighting, substrate, and decorations. Providing expert advice on creating an optimal environment for specific ornamental fish species. </p>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="static/img/img/2103.i211.007_aquarium_fish_equipment_realistic_composition.jpg" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-coffee service-icon"></i>Fish Sales</h4>
                        <p class="m-0">Offering a wide selection of ornamental fishes for sale, including freshwater, marine, and brackish water species. This involves providing healthy and well-cared-for fish to customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="static/img/img/food (2).png" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-award service-icon"></i>Customized Diet</h4>
                        <p class="m-0">Providing information on the dietary needs of specific ornamental fish species and offering a range of high-quality fish foods. Creating customized diet plans based on the nutritional requirements of different fishes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="row align-items-center">
                    <div class="col-sm-5">
                        <img class="img-fluid mb-3 mb-sm-0" src="static/img/booking.png" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h4><i class="fa fa-table service-icon"></i>Online Presence and Ordering</h4>
                        <p class="m-0">Maintaining an online presence through a website and social media platforms to provide information, share updates, and allow customers to place orders for ornamental fishes and related products.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->





<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">ORNAMENTAL FISHES</h4>
            <h1 class="display-4"> Best Collections</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <br><br>

                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="static/img/img/fish (4).png" alt="">
                   
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Betta Splendens</h4>
                        <p class="m-0">Known for vibrant colors and long flowing fins, Betta fish are popular choices for smaller aquariums. They have unique personalities and come in various color variations.   </p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="static/img/img/fish (11).png" alt="">
                
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Neon Tetra</h4>
                        <p class="m-0">Recognizable by their iridescent blue and red stripes, Neon Tetras are schooling fish that add a burst of color and activity to community tanks.</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="static/img/img/fish (8).png" alt="">
                     
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Arowana</h4>
                        <p class="m-0">Arowanas are large, majestic fish with unique scales and distinctive elongated bodies. They are often considered showcase species in large freshwater </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
   <br><br>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0"src="static/img/img/fish (12).png" alt="">
            
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Clownfish</h4>
                        <p class="m-0">Popularized by animated movies, Clownfish are known for their striking colors and unique symbiotic relationships with sea anemones. They are commonly kept in marine aquariums.</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0"src="static/img/img/fish (10).png" alt="">
                      
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Copperband butterflyfish</h4>
                        <p class="m-0">The copperband butterflyfish, also known as the beaked coral fish, is found in reefs in both the Pacific and Indian Oceans. This butterflyfish is one of the three species that make up the genus Chelmon and all have long beaks</p>
                    </div>
                </div>
                <div class="row align-items-center mb-5">
                    <div class="col-4 col-sm-3">
                        <img class="w-100 rounded-circle mb-3 mb-sm-0" src="static/img/img/fish (13).png" alt="">
                  
                    </div>
                    <div class="col-8 col-sm-9">
                        <h4>Discus</h4>
                        <p class="m-0">Known for their stunning disc-like shape and vibrant colors, Discus fish are prized by advanced hobbyists for their beauty and challenging care requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->



