<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <a href="login">Login</a><br>
    <a href="register">Register</a><br>
    <a href="seller_register">seller_register </a><br>
    <a href="buyer_register">buyer_register</a><br>

</body>
</html> -->

{%include 'public_header.html'%}

{%include 'hero.html'%}

{%include 'footer.html'%}